#banner {
    font-family: 'Bebas Neue';
    font-size: xx-large;
}
.VISION {
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    text-align: center;
}
.VISIONHEADER {
    font-family: 'Roboto', sans-serif;
    font-size: xxx-large;
    text-align: center;
    color: #d59d8e;
}
.valueText {
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    text-align: center;
}
.valueCard {
    background-color: #d59d8e;
    margin-top: 3%;
    margin-bottom: 3%;
}
.textBebas {
    font-family: 'Bebas Neue';
}
.textRoboto {
    font-family: 'Roboto', sans-serif;
}
.segment {
    margin-top: 3%;
    margin-bottom: 3%;
}
.navbar {
    background-color: #885b4e !important;
}
body {
    background-color: #d59d8e;
}
form {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    background-color: #d59d8e;
}
aboutUsCard {
    margin: 5%;
}
.container {
    background-color: #b17463;
    margin-top:2%;
    margin-bottom:2%;
}
div.elem-group {
    margin: 20px 0;
}
label {
    display: block;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 10px;
    font-size: 1.25em;
}
input,
select,
textarea {
    border-radius: 2px;
    border: 2px solid #777;
    box-sizing: border-box;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    padding: 10px;
}
div.elem-group.inlined input {
    width: 95%;
    display: inline-block;
}
textarea {
    height: 250px;
}
hr {
    border: 1px dotted #ccc;
}
button {
    height: 50px;
    background:  #b17463;
    border:black;
    color: black;
    font-size: 1.25em;
    font-family: 'Roboto', sans-serif;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    border: 1px solid black;
}
.row{
    padding-top:1%;
    padding-bottom: 1%;
}

blockquote{
    background-color: #d59d8e
}